sorting/ocaml/merge/_build
sorting/ocaml/merge/_build/*
sorting/rust/target
sorting/rust/target/*
searching/rust/target
searching/rust/target/*
dataStructures/linkedList/c/compile_commands.json
dataStructures/linkedList/c/linkedList
dataStructures/linkedList/c/main
